@page "/"

<div
    style="text-align: center; font-family: sans-serif; color: #333; height: 80vh; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h1 style="font-size: 3rem; margin-bottom: 0.5rem;">Stefano Del Sordo</h1>
    <p style="font-size: 1.5rem; color: #555;">Online Portfolio</p>
    <div style="margin-top: 40px; padding: 20px; border: 2px dashed #007bff; border-radius: 10px;">
        <h2 style="font-size: 2rem; color: #007bff; margin: 0;">WORK IN PROGRESS</h2>
        <p style="font-size: 1.2rem; margin-top: 10px;">Il nuovo portfolio è in fase di costruzione. <br>Torna presto
            per scoprire i miei progetti!</p>
    </div>
</div>